<%-  include('partials/_header'); %>
<%-  include('partials/_navbar'); %>
<header class="pt-10 bg-primary fixed-top" style="margin-top: 72px;">
    <div class="container-xl">
      <div class="row">
        <!-- Order Column -->
        <div class="col text-center" >
          <a href="/dashboard" class=" d-inline-flex font-bold text-white">
            <span>Order</span>
          </a>
        </div>
        <!-- Customer Column -->
        <div class="col text-center" style="background-color: #ffffff; border-radius: 19px;">
          <a href="#" class="btn d-inline-flex font-bold">
            <span>Customer</span>
          </a>
        </div>
      </div>
    </div>
    <!-- Divider -->
    <div class="container-xl">
      <div class="row justify-content-center">
        <div class="col-6" style="position: relative;">
          <!-- Avatar -->
          <div class="text-center" style="position: absolute; bottom: -5px; left: 50%; transform: translateX(-50%);">
            <a class="d-block" href="/customer" role="button">
              <div class="avatar avatar-lg bg-primary rounded-circle text-white text-lg">
                <h2><i class="bi bi-person-plus text-white"></i></h2>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>
    <!-- Main content -->
    <main class="py-10" style="margin-top: 202px;">
      <!-- Container -->
      <div class="container-xl">
        <% if (data) { %>
            <% for(var i = 0; i < data.length; i++) { %>
        <!-- Profile picture -->
        <div class="card shadow border-0 mt-4 mb-10">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div>
                <div class="d-flex align-items-center">
                    <%
                    var colors = ['success', 'danger', 'warning', 'info'];
                    colors.sort(() => Math.random() - 0.5);
                    var colorIndex = i % colors.length;
                    var bgColorClass = 'bg-' + colors[colorIndex];
                    %>
                    <div class="icon icon-shape <%= bgColorClass %> text-white text-lg rounded-circle">
                        <%= data[i].name.charAt(0).toUpperCase() %>
                    </div>
                  <div class="ms-4">
                    <span class="h4 d-block mb-0"><%= data[i].name %><a href="/update/<%= data[i].customer_id %>">
                      <i class="text-secondary bi bi-pencil-fill"></i>
                    </a></span>
                    <span class="h5 d-block font-semibold text-muted"><%= data[i].address %></span>
                    <span class="text-sm font-semibold text-muted"><%= data[i].phone %></span>
                    
                  </div>
                </div>
              </div>
              <div class="ms-auto">
                <div class="dropdown order order-lg-3 ms-lg-4">
                  <button class="btn btn-sm btn-neutral" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class=" pe-2">
                      <i class="bi bi-scissors"></i>
                    </span>
                    <span>Size</span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="/blouseview?customerId=<%= data[i].customer_id %>"><span class="font-semibold text-black mb-0">Blouse</span></a></li>
                    <li><a class="dropdown-item" href="/chudiview?customerId=<%= data[i].customer_id %>"><span class="font-semibold text-black mb-0">Chudi</span></a></li>
                  </ul>
                </div>
                <div class="dropdown order order-lg-3 ms-lg-4">
                  <button class="btn btn-sm btn-neutral" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class=" pe-2">
                      <i class="bi bi-plus-circle"></i>
                    </span>
                    <span>Size</span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="/blouse?customerId=<%= data[i].customer_id %>"><span class="font-semibold text-black mb-0">Blouse</span></a></li>
                    <li><a class="dropdown-item" href="/chudi?customerId=<%= data[i].customer_id %>"><span class="font-semibold text-black mb-0">Chudi</span></a></li>
                  </ul>
                </div>
                <a class="btn btn-sm btn-danger" href="/delete/<%= data[i].customer_id %>">
                  <i class="text-white bi bi-trash"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <% } %>
        <% } %>
      </div>
    </main>
<%- include('partials/_footer'); %>